a:link {
    color: #15ff00;
}

a:visited {
    color: rgb(110, 248, 110);
}

a:hover {
    color: rgb(255, 0, 0);
}

a:active {
    color: blue;
}

img+p {
    color: #000000;
    font-style: italic;

}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    text-align: center;
    background-color: antiquewhite;
    padding: 20px;
}
h2{
    background-color: white;
    padding: 30px;
}
h4{
    background-color: #e4ff4b;
    padding: 20px;
}

* {
    text-align: center;
}

.flex-container {
    display: flex;
    background-color: rgb(88, 248, 248);
}

.flex-container>div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 15px;
    font-size: 30px;
}

table {
    border: 2px solid;
    padding: 5px;
    border-collapse: collapse;

}

.tb {
    background-color: rgb(247, 221, 54);
    border: 2px solid;
    padding: 10px;
    border-collapse: collapse;

}

tr,
td,
th {
    border: 2px solid;
    padding: 5px;
    border-collapse: collapse;

}

.tb tr,
.tb th,
.tb td {
    border: 2px solid;
    padding: 20 px;
    border-collapse: collapse;

}

form {
    margin: auto;
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color:darkblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: black;
}

.hidden {
    display: none;
  }
  
